EC2 Code:
------------
wget https://dlcdn.apache.org/kafka/3.4.0/kafka_2.13-3.4.0.tgz
tar -xvf kafka_2.13-3.4.0.tgz
sudo yum install java-1.8.0-openjdk
cd kafka_2.13-3.4.0
bin/zookeeper-server-start.sh config/zookeeper.properties
export KAFKA_HEAP_OPTS="-Xmx256M -Xms128M"
cd kafka_2.13-3.4.0
bin/kafka-server-start.sh config/server.properties
To create topic:
------------------
cd kafka_2.13-3.4.0
bin/kafka-topics.sh --create --topic sensor_data_consumer --bootstrap-server {}:9092 --replication-factor 1 --partitions 1 

Start Kafka Console Consumer:
--------------------------------------
bin/kafka-console-consumer.sh --topic sensor_data_consumer --bootstrap-server {}:9092
